
button {
    margin-right: 8px !important;
}
.circle-link{
    height: 50px !important;
    width: 100px !important;
}
.dialogContainer{
    margin: 10px !important;
}
.toolbarLogo{
    position: initial !important;
}
.joke-card {
    max-width: 400px;
    margin-bottom: 8px;
}